root = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = when_on_single_line:suggestion
csharp_preserve_single_line_blocks = false
csharp_preserve_single_line_statements = false
