## Visual Studio / .NET
.vs/
**/bin/
**/obj/
*.user
*.userosscache
*.sln.docstates
*.suo
[Tt]emp/
*.tmp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# IDE / Editor
.idea/
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# SQLite temporary files
*.db-shm
*.db-wal

